<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

</head>
<body>
    <div class="container mt-4">
        <h2 style="text-align: center;">Task Manager</h2>
        
        <a class="btn btn-success" href="{{url_for('new_task')}}">Adicionar Nova Tarefa</a>
        <a class="btn btn-danger">Remover Tarefa</a>
        <a class="btn btn-info">Completar Tarefa</a>
    
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Completed Tasks</h5>
                        
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Item 1</li>
                            <li class="list-group-item">Item 2</li>
                            <li class="list-group-item">Item 3</li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tasks In Progress</h5>
                        <!-- <p class="card-text">Conteúdo do Card 2.</p> -->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Item 1</li>
                            <li class="list-group-item">Item 2</li>
                            <li class="list-group-item">Item 3</li>
                        </ul>

                    </div>
                </div>
            </div>
    
            
        </div>
    </div>
    
    
</body>
</html>