<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Task</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <div class="container mt-4">
        <h2 class="text-center">Add new Task</h2>
    
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="" method="post">
                    {{ form.csfr }}

                    <div class="form-group">
                        <label for="taskName">Name</label>
                        {{ form.name(class="form-control", placeholder="Enter task name") }}
                       
                    </div>
            
                    <div class="form-group">
                        <label for="taskDescription">Task Description</label>
                        {{ form.description(class="form-control", rows=3, placeholder="Enter task description") }}
                    </div>

                    <div class="form-group">
                        <label for="taskPriority">Start Date</label>
                        {{ form.startDate(class="form-control", placeholder="Start Date") }}      
                    </div>

                    <div class="form-group">
                        <label for="taskStatus">Status</label>
                        {{ form.status(class="form-control", placeholder="Enter status task") }}                  
                    </div>

                    <div class="form-group">
                        <label for="taskPriority">Priority</label>
                        {{ form.priority(class="form-control", placeholder="Enter priority") }}           
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </form>
            </div>
        </div>
    </div>
    
    
    
    
</body>
</html>